---
import type { ImageMetadata } from "astro";
import { Image } from "astro:assets";

interface Props {
	description: string;
	imageUrl: ImageMetadata;
	tags: string[];
	projectUrl: string;
}

const { description, imageUrl, tags, projectUrl } = Astro.props;
---

<a
	href={projectUrl}
	class="group bg-light-surface-main dark:bg-dark-surface-main rounded-xl shadow-lg overflow-hidden h-[340px] w-[320px] border border-light-border-light dark:border-dark-border-light transition-transform hover:scale-[1.02]"
>
	<Image
		src={imageUrl}
		alt={description}
		width={600}
		height={338}
		class="w-full h-44 object-cover"
		format="webp"
		quality={100}
	/>
	<div class="p-4">
		<p
			class="text-lg text-light-text-secondary dark:text-dark-text-secondary mb-8"
		>
			{description}
		</p>

		<div class="flex flex-wrap gap-2">
			{
				tags.map((tag) => (
					<span class="px-3 py-1 text-sm font-medium border border-light-text-accent dark:border-dark-text-accent rounded-full text-light-text-primary dark:text-dark-text-primary hover:bg-light-text-accent/5 dark:hover:bg-dark-text-accent/10 transition-colors">
						{tag}
					</span>
				))
			}
		</div>
	</div>
</a>
