---
import { Image } from "astro:assets";
import Layout from "../../layouts/Layout.astro";
import Header from "../../components/layout/Header.astro";
import Footer from "../../components/layout/Footer.astro";
import translations from "../../i18n";
import aboutImg from "../../assets/codeImg.png";

export function getStaticPaths() {
	return [
		{ params: { lang: "en" } },
		{ params: { lang: "ja" } },
		{ params: { lang: "fr" } },
	];
}

const currentPath = Astro.url.pathname;
const lang = currentPath.split("/")[1] || "en";
const t = translations[lang as keyof typeof translations];
---

<Layout title={`${t.about.title} - Kevin-Tim Portfolio`}>
	<Header />

	<!-- Hero Section -->
	<section
		class="bg-light-surface-hero dark:bg-dark-surface-hero min-h-[60vh] flex items-center"
	>
		<div class="container mx-auto px-4">
			<div class="flex items-center gap-12">
				<div class="flex-1">
					<h1
						class="text-5xl font-bold text-light-text-primary dark:text-dark-text-primary mb-4"
					>
						{t.about.title}
					</h1>
					<p
						class="text-xl text-light-text-secondary dark:text-dark-text-secondary"
					>
						{t.about.description}
					</p>
				</div>
				<div class="flex-1">
					<Image
						src={aboutImg}
						alt="About Me"
						width={500}
						height={500}
						class="rounded-lg shadow-lg w-full"
						format="webp"
						quality={80}
					/>
				</div>
			</div>
		</div>
	</section>

	<!-- Introduction Section -->
	<section class="bg-light-surface-main dark:bg-dark-surface-main py-20">
		<div class="container mx-auto px-4 max-w-3xl text-center">
			<h2
				class="text-3xl font-bold text-light-text-primary dark:text-dark-text-primary mb-8"
			>
				{t.about.intro.title}
			</h2>
			<p
				class="text-xl text-light-text-secondary dark:text-dark-text-secondary leading-relaxed whitespace-pre-line"
			>
				{t.about.intro.content}
			</p>
		</div>
	</section>

	<!-- Services Section -->
	<section class="bg-light-surface-hero dark:bg-dark-surface-hero py-20">
		<div class="container mx-auto px-4">
			<h2
				class="text-3xl font-bold text-light-text-primary dark:text-dark-text-primary mb-12 text-center"
			>
				{t.about.services.title}
			</h2>
			<div class="grid grid-cols-1 md:grid-cols-3 gap-8">
				{
					t.about.services.items.map((service) => (
						<div class="bg-light-surface-main dark:bg-dark-surface-main p-8 rounded-lg shadow-lg">
							<h3 class="text-2xl font-bold text-light-text-primary dark:text-dark-text-primary mb-4">
								{service.title}
							</h3>
							<p class="text-light-text-secondary dark:text-dark-text-secondary">
								{service.description}
							</p>
						</div>
					))
				}
			</div>
			<div class="text-center pt-20">
				<a
					href={`/${lang}/contact`}
					class="inline-block px-6 py-3 bg-light-text-accent dark:bg-dark-text-accent text-white rounded-lg hover:opacity-90 transition-opacity"
				>
					{t.about.button}
				</a>
			</div>
		</div>
	</section>

	<Footer />
</Layout>
