---
import { Image } from "astro:assets";
import Layout from "../../layouts/Layout.astro";
import Header from "../../components/layout/Header.astro";
import Footer from "../../components/layout/Footer.astro";
import translations from "../../i18n";
import ProjectCard from "../../components/sections/ProjectCard.astro";
import homeLight from "../../assets/home-light.png";
import homeDark from "../../assets/home-dark.png";
import { projects } from "../../data/projects";

export function getStaticPaths() {
	return [
		{ params: { lang: "en" } },
		{ params: { lang: "ja" } },
		{ params: { lang: "fr" } },
	];
}

const currentPath = Astro.url.pathname;
const lang = currentPath.split("/")[1] || "en";
const t = translations[lang as keyof typeof translations];

// Get the latest 2 projects (reverse order to show newest first)
const latestProjects = projects.slice(-2).reverse();
---

<Layout title="Kevin-Tim - Software-Engineer">
	<Header />

	<section
		class="bg-light-surface-hero dark:bg-dark-surface-hero min-h-[90vh] flex items-center"
	>
		<div class="container mx-auto px-8 md:px-24">
			<div class="flex flex-col md:flex-row items-center gap-4">
				<div class="flex-1">
					<h1
						class="text-5xl font-bold text-light-text-primary dark:text-dark-text-primary mb-6"
					>
						{t.hero.title}
					</h1>
					<p
						class="text-xl text-light-text-secondary dark:text-dark-text-secondary"
					>
						{t.hero.description}
					</p>
				</div>
				<div class="flex-1">
					<Image
						src={homeLight}
						alt="Profile"
						width={500}
						height={500}
						class="rounded-lg w-full block dark:hidden"
						format="webp"
						quality={100}
						loading="eager"
					/>
					<Image
						src={homeDark}
						alt="Profile"
						width={500}
						height={500}
						class="rounded-lg w-full hidden dark:block"
						format="webp"
						quality={100}
						loading="eager"
					/>
				</div>
			</div>
		</div>
	</section>

	<!-- Projects Section -->
	<section
		class="bg-light-surface-main dark:bg-dark-surface-main py-20"
		id="projects"
	>
		<div class="container mx-auto px-4">
			<h2
				class="text-3xl font-bold mb-12 text-center text-light-text-primary dark:text-dark-text-primary"
			>
				{t.section.title}
			</h2>
			<div class="flex flex-wrap justify-center gap-8">
				{latestProjects.map((project) => (
					<ProjectCard
						description={t.projects[project.descriptionKey]}
						imageUrl={project.image}
						tags={project.tags}
						projectUrl={`/${lang}/projects`}
					/>
				))}
			</div>
		</div>
	</section>

	<Footer />
</Layout>
